@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ede9fe;
    /* purple-100 */
}

::-webkit-scrollbar-thumb {
    background: #7c3aed;
    /* purple-600 */
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6d28d9;
    /* purple-700 */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #7c3aed #ede9fe;
}

::selection {
    background-color: #9333EA;
    color: white;
}

